{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="content-section">
      <h2>Übersicht {{ title }}</h2>
      <table class="table table-light table-striped">
          <thead >
          <tr>
              <th scope="col">Bezeichnung</th>
          </tr>
          </thead>
          {% for data in bezeichnungen %}
              <tbody>
                  <tr>
                      <td>{{ data.bezeichnung }}</td>
                  </tr>
              </tbody>
          {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
{% block Menue %}
    <div class="content-section">
        <p>Aktionen
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('add_stockwerk') }}" class="btn btn-outline-info" role="button">Hinzufügen</a></li>
            <li class="list-group-item list-group-item-light"><a href="{{ url_for('add_stockwerk') }}" class="btn btn-outline-info" role="button">Bearbeiten</a></li>
        </ul>
        </p>
    </div>
{% endblock Menue %}